@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-category="" asp-route-pageNum="1" class="btn btn-outline-secondary">Home</a>

    @foreach (string s in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-category="@s" asp-route-pageNum="1"
           class="btn @(ViewBag.SelectedCategory == s ? "btn-dark" : "btn-outline-secondary")">@s</a>
    }
</div>