@page
@model Amazon.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you for shopping with us, your order is being processed!</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Shop More</a>
</div>