@{
}

@model BooksViewModel

<div class="container">
    <h2>Books</h2>
    <div class="row">
        @foreach (Book b in Model.Books)
        {
            <partial name="BookInfo" model="b"/>
        }
    </div>
    <div page-model="@Model.PageInfo" page-action="Index" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-dark" page-class-enabled="true" class="btn-group pull-right m-1">

    </div>

    @*<nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageNum="1">1</a></li>
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageNum="2">2</a></li>
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageNum="3">3</a></li>
        </ul>
    </nav>*@
</div>